* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  color: white;
  /* display: flex;
  flex-direction: column; */
  
  
}

/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
} */



#navigation {
margin-top: 20px;
  /* display: flex; */
 flex-direction: row;
 align-items: center;

 text-decoration: none;
 /* display: flex;
 flex-direction: row;
 justify-content: center; */
 

}

.title {
  /* display: flex; */
  flex-direction: column;
 
}

#product-container {
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  display: flex;
  
  padding: 5px 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: start;
 
  
}

.list {
  font-size: 16px;
  padding-left: 20px;
  float: right;

}

img{
  max-width: 100px;
  flex-basis: 40%;
  float: inline-start;

}

a {
  color: white;
  padding:0 !important;
  margin: 0 !important;
}

#add-button {

float: right;
margin: 25px 100px 25px 25px;
 background-color: white;
 border-radius: 8%;
}
